.contest-form__fullname-item {
  margin: 0 auto;
  margin-bottom: 30px;
  .set-size(280px, 90px);
}

.contest-form__fullname-item:last-child {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.contest-form__fullname-label {
  margin-bottom: 8px;
  padding-left: 21px;
  display: block;

  color: rgb(210, 40, 86);
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.contest-form__fullname-input {
  width: 276px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid rgb(229, 229, 229);
}

.contest-form__fullname-input[type="text"] {
  padding: 20px;

  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest-form__part-achievements {
  margin: 0 auto;
  padding-top: 40px;
  .set-size(320px, 604px);
  box-sizing: border-box;

  background-color: @grey;
}

.contest-form__head {
  .reset();
  margin: 0 auto;
  margin-bottom: 42px;
  width: 220px;

  font-size: 14px;
  font-weight: normal;
  color: rgb(210, 40, 86);
  line-height: 18px;
  text-transform: uppercase;
}

.contest-form__achievements-item {
  margin: 0 auto;
  margin-bottom: 52px;
  .set-size(280px, 40px);
  display: flex;
}

.contest-form__achievements-item:last-child {
  margin-bottom: 0;
  padding-bottom: 46px;
}

.contest-form__achievement-checkbox {
  width: 35px;
  height: 35px;
}

.contest-form__achievement-label {
  .reset();
  margin-left: 35px;
  display: block;

  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest-form__part-contacts {
  padding-top: 41px;
  min-height: 287px;
}

.contest-form__contacts-item {
  margin: 0 auto;
  margin-bottom: 30px;
  .set-size(280px, 90px);
}

.contest-form__contacts-item:last-child {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.contest-form__contacts-label {
  margin-bottom: 8px;
  padding-left: 21px;
  display: block;

  color: rgb(210, 40, 86);
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.contest-form__contacts-input {
  width: 276px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid rgb(229, 229, 229);
}

.contest-form__contacts-input[type="tel"] {
  padding: 20px;

  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest-form__contacts-input[type="email"] {
  padding: 20px;

  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest-form__part-apps {
  margin: 0 auto;
  padding-top: 41px;
  .set-size(320px, 340px);

  background-color: @grey;
}

.contest-form__apps-head {
  .reset();
  margin: 0 auto;
  margin-bottom: 40px;
  width: 220px;

  font-size: 14px;
  font-weight: normal;
  color: rgb(210, 40, 86);
  line-height: 18px;
  text-transform: uppercase;
}

.contest-form__apps-item {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 280px;
  height: 36px;

  display: flex;
  align-items: center;
}

.contest-form__apps-item:last-child {
  margin-bottom: 0;
}

.contest-form__apps-radio {
  width: 37px;
  height: 35px;
}

.contest-form__apps-label {
  margin-left: 33px;
  display: block;
}

.contest-form__part-emotions {
  padding-top: 41px;
  min-height: 465px;
}

.contest-form__emotions-head {
  .reset();
  margin: 0 auto;
  margin-bottom: 20px;
  width: 220px;

  font-size: 14px;
  font-weight: normal;
  color: rgb(210, 40, 86);
  line-height: 18px;
  text-transform: uppercase;
}

.contest-form__emotions-input {
  margin: 0 auto;
  margin-bottom: 52px;
  padding: 23px 24px 20px 18px;
  width: 276px;
  height: 197px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 30px;
}

.contest-form__btn-submit {
  .reset();
  margin: 0 auto;
  margin-bottom: 46px;
  padding: 18px 45px;
  display: block;

  font-size: 18px;
  color: @white;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #2aab6d;
}

.contest-form__attention-text {
  .reset();
  padding-bottom: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.style-pink {
  color: #d22856;
}
