.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 30px;
  vertical-align: middle;
  color: inherit;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  border: 3px solid #eeeeee;
  border-radius: 30px;
  cursor: pointer;
  text-transform: none;
}
