.download {
  display: flex;
  flex-direction: column;
  background-color: #1d2631;
  color: white;
  padding: 20px 45px;
}

.download__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 100%;
  align-items: center;
}

