.features {
  padding: 0;
  color: $darkfont;
  background: linear-gradient(-5deg, $gray-bgr 79%, $light-font 10%);
}

.features__title {
  padding: 0 60px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.features__list {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  width: 100%;
  position: relative;
}

.features__item {
  padding: 0 34px;
}
