.field {
  padding: 22px;
  display: flex;
  flex-direction: column;
}

.field__label {
  text-transform: uppercase;
  color: $red-base;
  line-height: 30px;
}

.field__input {
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
}
