.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 40px;
}

.social {
  list-style: none;
  display: flex;
}

.social__item {
  position: relative;
}
