.main-content__title {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  background-color: $dark-bgr;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: $main-bgr;
  margin: 0;
  padding: 35px 76px 80px 76px;
}
