.main-nav {
  color: $header-color;
  background-color: $header-bgr-color;
  position: relative;
}

.main-nav__top-wrapper {
  background-color: black;
  opacity: 0.5;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
}

.main-nav__item a {
  color: $header-item-color;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: rgba($header-item-color, 0.3);
  }
}

.main-nav__item {
  color: $header-item-color;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  border-bottom: 1px solid rgb(48, 47, 47);
  border-top: 1px solid #485461;
}
