.main-nav {
  color: $header-color;
  background-color: $header-bgr-color;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav__list {
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
}

.main-nav__item {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
}

.main-nav__item a {
  color: $header-item-color;
}
