.page-photo__intro {
  .reset();
  margin: 0 auto;
  margin-bottom: 47px;
  padding-top: 46px;
  width: 243px;

  font-size: 14px;
  color: #283645;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .page-photo__intro {
    padding-top: 92px;
    margin-bottom: 76px;
    width: 440px;
    font-size: 18px;
  }
}
