.panorama {
  margin-bottom: 20px;
}

.panorama__photo-container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 137px;
}

.panorama__photo {
  width: 100%;
  height: 100%;
}

.panorama__photo-title {
  padding: 6px 19px;
  width: 101px;

  position: absolute;
  right: 21px;
  top: 1px;

  font-size: 12px;
  color: @white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2;
  background-color: #d22856;
}

.panorama__comment {
  .reset();
  width: 283px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 19px;
  padding-left: 19px;
  padding-right: 12px;
  padding-bottom: 21px;

  display: flex;
  flex-wrap: wrap;

  line-height: 24px;
  color: #283645;
  text-align: left;
  background-color: @grey;
}


.panorama__comment-name {
  .reset();

  font-size: 14px;
  font-weight: bold;
}

.panorama__t-ago {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
}

.panorama__text {
  .reset();
  margin-bottom: 15px;
  width: 100%;
}

.panorama__heart {
  margin-right: 19px;
  fill: #d22856;
}

.panorama__likes {
  .reset();
  margin-top: -3px;
  min-width: 100px;

  font-size: 12px;
  color: #d22856;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .panorama {
    margin-bottom: 50px;
  }

  .panorama__photo-container {
    width: 660px;
    height: 509px;
  }

  .panorama__photo-title {
    top: 57px;
  }

  .panorama__comment {
    padding-top: 25px;
    padding-left: 27px;
    padding-bottom: 9px;
    padding-right: 26px;
    width: 620px;
  }

  .panorama__comment-name {
    order: 0;
  }

  .panorama__likes {
    order: 1;
    margin-left: auto;
    margin-top: 2px;
    margin-right: 6px;
  }

  .panorama__heart {
    .reset();
    margin-top: 5px;
    margin-right: 3px;
    order: 2;
  }

  .panorama__text {
    order: 3;
  }
}


@media (min-width: @desktop-width) {
  .panorama__photo-container {
    width: 1200px;
    height: 506px;
  }

  .panorama__photo-title {
    right: 131px;
    top: 54px;
  }

  .panorama__comment {
    padding-top: 25px;
    padding-left: 27px;
    padding-bottom: 8px;
    width: 940px;
  }

  .panorama__heart {
    margin-right: 6px;
  }
}
