.post-list__item {
  margin-bottom: 20.4px;
}

.post-list__item:last-child {
  margin-bottom: 0;
}

.post-list__photo-container {
  margin: 0 auto;
  width: 280px;
  height: 180px;
}

.post-list__photo {
  width: 100%;
  height: auto;
}

.post-list__comment {
  .reset();
  width: 283px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 21px;
  padding-left: 19px;

  display: flex;
  flex-wrap: wrap;

  line-height: 24px;
  color: #283645;
  text-align: left;
  background-color: @grey;
}

.post-list__comment-name {
  .reset();

  font-size: 14px;
  font-weight: bold;
}

.post-list__t-ago {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
}

.post-list__text {
  .reset();
  width: 100%;
  margin-bottom: 15px;
}

.post-list__heart {
  margin-right: 19px;
  fill: #d22856;
}

.post-list__likes {
  .reset();
  margin-top: -3px;
  min-width: 100px;

  font-size: 12px;
  color: #d22856;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post-list__item {
    margin-bottom: 0;
    width: 300px;

    box-sizing: border-box;
  }

  .post-list__item:nth-child(2n) {
    margin-bottom: 20px;
  }

  .post-list__item:last-child {
    margin-bottom: 0;
  }

  .post-list__photo-container {
    width: 300px;
    height: 300px;
  }

  .post-list__comment {
    .reset();
    width: 300px;

    padding: 24px 32px 24px 27px;
    box-sizing: border-box;
    background-color: @grey;
  }

  .post-list__comment-name {
    font-size: 14px;
    line-height: 24px;
  }

  .post-list__text {
    margin-bottom: 18px;
    min-height: 48px;
  }

  .post-list__heart {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 4px;
    order: 2;
  }

  .post-list__likes {
    align-self: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .post-list__item:nth-child(2n) {
    margin-bottom: 0;
  }

  .post-list__item:nth-child(3n) {
    margin-bottom: 54px;
  }

  .post-list__item:last-child {
    margin-bottom: 0;
  }

  .post-list__photo-container {
    height: 400px;
  }
}
