.advantages {
  padding-top: 40px;
  background-color: @white;
}

.advantages__question {
  .reset();
  margin: 0 auto;
  margin-bottom: 28px;
  width: 204px;

  font-size: 24px;
  color: #283645;
  font-weight: 300;
  line-height: 30px;
}

.advantages__answer {
  .reset();
  margin: 0 auto;
  margin-bottom: 31px;
  width: 204px;

  font-size: 24px;
  color: #283645;
  font-weight: 300;
  line-height: 30px;
}

.advantages__description {
  margin: 0 auto;
  width: 320px;
  background-color: @grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 0;
}

.advantages__container-center {
  padding-bottom: 318px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 109%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 158px auto;
  }
}

.advantages__list {
  padding-top: 77px;
}

.advantages__item {
  margin-bottom: 27px;
}

.advantages__br {
  display: none;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__head {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 252px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.71;
}

.advantages__text {
  margin: 0 auto;
  width: 261px;

  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.advantages__phone {
  margin-top: 45px;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 58px;
  }

  .advantages__question {
    margin-bottom: 11px;
    width: 588px;
    font-size: 40px;
  }

  .advantages__answer {
    margin-bottom: 49px;
    width: 578px;
    font-size: 40px;
    line-height: 46px;
  }

  .advantages__description {
    width: auto;
    background-color: @grey;
  }

  .advantages__container-center {
    padding-top: 71px;
    margin: 0 auto;
    padding-bottom: 43px;
    width: 620px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat 0% 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 270px auto;
    }
  }

  .advantages__list {
    padding-top: 0;
    width: 310px;
    margin-left: 309px;
    text-align: left;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 31px;
  }

  .advantages__br {
    display: grid;
  }

  .advantages__head {
    .reset();
    margin-bottom: 10px;
  }

  .advantages__text {
    .reset();
    width: auto;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 82px;
  }

  .advantages__question {
    margin-bottom: 17px;
    width: auto;
    font-size: 50px;
  }

  .advantages__answer {
    margin-bottom: 78px;
    width: 578px;
    font-size: 50px;
    line-height: 58px;
  }

  .advantages__container-center {
    padding-top: 0;
    padding-bottom: 0;
    width: 879px;

    background: none;
  }

  .advantages__list {
    .reset();
    padding-bottom: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    margin-top: -8px;
    padding-top: 366px;
    width: 239px;
    text-align: center;

    &--sad-mood {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat 50% 3%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 294px auto;
      }
    }

    &--normal-mood {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat 48% 3%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 294px auto;
      }
    }

    &--happy-mood {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat 46% 3%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 294px auto;
      }
    }
  }

  .advantages__br {
    display: none;
  }

  .advantages__head {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 225px;
    font-size: 30px;
    line-height: 31px;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 30px;
  }
}
