.download-apps__download {
  margin-top: 28px;
  padding: 18px 40px;

  border: 3px solid @white;
  border-radius: 30px;
  background: transparent;

  font-size: 18px;
  color: @white;
  font-weight: bold;
  line-height: 1;
}

.download-apps__list {
  .set-size (215px, 60px);
  margin: 0 auto;
  margin-top: 32px;
}

.download-apps__item {
  display: inline;
  margin-right: 35px;
}

.download-apps__item:last-child {
  margin-right: 0;
}

.download-apps__comment {
  .set-size(233px, 37px);
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 35px;

  font-size: 14px;
  color: @white;
  font-weight: 300;
  line-height: 1.71;
}
