.offer {
  min-height: 277px;
}

.offer__name {
  margin: 0 auto;
  .set-size(276px, 94px);

  background-color: @dark-blue;
  border-left: 2px solid @grey;
  border-right: 2px solid @grey;
}

.offer__name-head {
  .reset();
  margin: 0 auto;
  margin-bottom: 12px;
  padding-top: 23px;

  font-size: 18px;
  color: @white;
  font-weight: bold;
  line-height: 1.67;
}

.offer__name-cost {
  .reset();
  margin: 0 auto;
  padding-bottom: 21px;

  font-size: 24px;
  color: @white;
  font-weight: 300;
  line-height: 1.25;
}

.offer__list {
  .reset();

  background-color: @white;
}

.offer__item {
  .reset();
  margin: 0 auto;
  padding: 21px;
  box-sizing: border-box;
  display: flex;

  .set-size(276px, 59px);
  border-left: 2px solid @grey;
  border-right: 2px solid @grey;
  border-bottom: 2px solid @grey;
}

.offer__text {
  .reset();
  width: 135px;

  line-height: 2.14;
  text-align: left;
}

.offer__icon {
  margin-left: auto;
}
