.offer {
  // background: @grey url("../img/bg-triangle-white.svg") no-repeat center top / contain;
  background-image: url(../img/bg-triangle-white.svg);
  background-color: @grey;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 0;
}

.offer__wrapper {
  padding-top: 123px;
  margin-bottom: 39px;
  width: 100%;
  overflow: hidden;
}

.offer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__list {
  border-color: @white;
  border-collapse: collapse;
  border-spacing: 0;
}

.offer__field {
  text-align: left;
  box-sizing: border-box;
  background-color: @white;
  border: solid 2px rgb(229, 229, 229);

  &--empty {
    display: none;
  }
}

.offer__field-text {
  display: inline-block;
  .reset();
  margin-left: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 0.3px;
  width: 150px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.offer__icon-yes {
  display: inline-block;
  padding-top: 1px;
  margin-left: 50px;
  fill: #3dc644;
}

.offer__icon-no {
  margin-left: 53px;
  padding-top: 9px;
  fill: #f25b26;
}

.offer__value {
  padding-top: 15px;
  background-color: @dark-blue;
  border: solid 2px rgb(229, 229, 229);

  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: @white;
  text-transform: uppercase;

  &--empty {
    display: none;
    border: none;
    background-color: transparent;
  }

  &--flag {
    position: relative;
    background: @dark-blue url("../img/bg-hit.svg") no-repeat 0 0;
  }

  &--flag::before {
    position: absolute;
    top: 15px;
    left: 10px;
    content: "хит";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    transform: rotate(-45deg);
    z-index: 10;
  }
}

.offer__price {
  .reset();
  margin: 0 88px;
  padding-bottom: 21px;
  width: 100px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.offer__switcher-container {
  display: flex;
  margin: 0 auto;
  padding-bottom: 39px;
  width: 76px;
  justify-content: space-around;
}

.offer__switcher-label {
  display: none;
  float: none;
  font-size: 2px;
}

.offer__switcher-item {
  .reset();
  width: 12px;
}

.offer__switcher[type="radio"]:checked,
.offer__switcher[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.offer__switcher[type="radio"]:checked + .offer__switcher-label,
.offer__switcher[type="radio"]:not(:checked) + .offer__switcher-label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #ffffff;
}

.offer__switcher[type="radio"]:checked + .offer__switcher-label::before,
.offer__switcher[type="radio"]:not(:checked) + .offer__switcher-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #bec2c7;
}

.offer__switcher[type="radio"]:checked + .offer__switcher-label::after,
.offer__switcher[type="radio"]:not(:checked) + .offer__switcher-label::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 3px solid #283645;
  background: #ffffff;
  position: absolute;
  left: -3px;
  top: 2px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.offer__switcher[type="radio"]:not(:checked) + .offer__switcher-label::after {
  opacity: 0;
  transform: scale(0);
}

.offer__switcher[type="radio"]:checked + .offer__switcher-label::after {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    margin-bottom: 0;
    padding-bottom: 67px;
    padding-top: 88px;
    width: auto;
    overflow: visible;
  }

  .offer__container {
    margin: 0 auto;
    width: 620px;
    display: block;
  }

  .offer__field {
    padding: 0;

    &--empty {
      display: table-cell;
      padding-left: 15px;
      padding-right: 25px;
    }
  }

  .offer__value {
    padding-top: 12px;
    font-size: 16px;

    &--flag {
      background: #283645 url("../img/bg-hit-tablet.svg") no-repeat 0 0;
    }

    &--flag::before {
      top: 8px;
      left: 7px;
    }

    &--empty {
      display: table-cell;
    }
  }

  .offer__field-text {
    display: none;

    &--first {
      display: block;
      margin-left: 0px;
      padding-top: 6px;
      padding-bottom: 9px;
      padding-right: 0;
      width: 114px;
      font-size: 14px;
      text-transform: none;
    }
  }

  .offer__icon-yes {
    margin-left: 60px;
  }

  .offer__icon-no {
    margin-left: 62px;
    padding-top: 5px;
  }

  .offer__price {
    margin-left: 26px;
    margin-right: 25px;
    margin-top: -3px;
    padding-bottom: 7px;
    font-size: 18px;
  }

  .offer__switcher-container {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .offer__container {
    width: 940px;
  }

  .offer__wrapper {
    padding-top: 153px;
    padding-bottom: 93px;
  }

  .offer__value {
    padding-top: 18px;
    font-size: 18px;

    &--flag {
      position: relative;
      background: @dark-blue url("../img/bg-hit.svg") no-repeat 0 0;
    }

    &--flag::before {
      top: 16px;
      left: 11px;
    }
  }

  .offer__field-text {
    &--first {
      display: block;
      margin-left: 7px;
      margin-right: 25px;
      padding-top: 12px;
      padding-bottom: 17px;
    }
  }

  .offer__icon-yes {
    margin-left: 102px;
  }

  .offer__icon-no {
    margin-left: 103px;
  }

  .offer__price {
    margin-left: 67px;
    margin-right: 64px;
    padding-bottom: 22px;
    font-size: 24px;
  }

  .offer__field-text {
    width: 160px;
    font-size: 18px;
    line-height: 30px;
  }
}
