.offer {
  background-color: @grey;
}

.offer__wrapper {
  width: 100%;
  overflow: hidden;
}

.offer__container {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__list {
  border-collapse: collapse;
  border-spacing: 0;
}

.offer__field {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  border: solid 2px rgb(229, 229, 229);
}

.offer__value {
  padding: 21px 92px;
  background-color: @dark-blue;
  border: solid 2px rgb(229, 229, 229);

  font-size: 18px;
  color: @white;
  text-transform: uppercase;

  &--empty {
    border-top: none;
    border-left: none;
    background-color: transparent;
  }
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    width: auto;
    overflow: auto;
  }

  .offer__container {
    display: block;
  }

  .offer__value {
    padding: 19px 39px 13px 40px;
  }
}
