.reviews {
  padding-top: 50px;
  min-height: 318px;
  background-color: @white;
}

.reviews_name {
  .reset();
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

.reviews__text {
  margin: 0 auto;
  margin-top: 25px;

  font-size: 14px;
  color: @dark-blue;
  line-height: 2.14;

  width: 278px;
}
