.reviews {
  min-height: 318px;
  background-color: @white;
}

.reviews__name {
  .reset();
  margin-bottom: 13px;
  padding-top: 42px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.reviews__info {
  display: none;
}

.reviews__text {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 278px;

  font-size: 14px;
  color: @dark-blue;
  line-height: 30px;
}

.reviews__toggle {
  display: none;
}

.reviews__switcher-container {
  display: flex;
  margin: 0 auto;
  padding-bottom: 3px;
  width: 76px;
  justify-content: space-around;
}

.reviews__switcher-label {
  display: none;
  float: none;
  font-size: 2px;
}

.reviews__switcher-item {
  .reset();
  width: 12px;
}

.reviews__switcher[type="radio"]:checked,
.reviews__switcher[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.reviews__switcher[type="radio"]:checked + .reviews__switcher-label,
.reviews__switcher[type="radio"]:not(:checked) + .reviews__switcher-label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #ffffff;
}

.reviews__switcher[type="radio"]:checked + .reviews__switcher-label::before,
.reviews__switcher[type="radio"]:not(:checked) + .reviews__switcher-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #bec2c7;
}

.reviews__switcher[type="radio"]:checked + .reviews__switcher-label::after,
.reviews__switcher[type="radio"]:not(:checked) + .reviews__switcher-label::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 3px solid #283645;
  background: #ffffff;
  position: absolute;
  left: -3px;
  top: 2px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.reviews__switcher[type="radio"]:not(:checked) + .reviews__switcher-label::after {
  opacity: 0;
  transform: scale(0);
}

.reviews__switcher[type="radio"]:checked + .reviews__switcher-label::after {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: @tablet-width) {
  .reviews__container-text {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    .reset();
    margin: 0 auto;
    margin-bottom: 35px;
    padding-top: 95px;
    width: 620px;
    order: 1;

    font-size: 18px;
  }

  .reviews__name {
    padding-top: 0;
    margin-bottom: 8px;
    order: 2;

    font-size: 20px;
    font-weight: bold;
  }

  .reviews__info {
    .reset();
    padding-bottom: 36px;
    display: block;
    order: 3;
  }

  .reviews__switcher-container {
    padding-bottom: 13px;
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    background: @white url("../img/icon-quotes.svg") no-repeat 50.3% 20.4%;
  }

  .reviews__container {
    margin: 0 auto;
    width: 941px;

    display: flex;
    justify-content: space-between;
  }

  .reviews__toggle {
    .reset();
    margin-top: 214px;
    width: 22px;
    height: 41px;
    display: block;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
  }

  .reviews__text {
    padding-top: 185px;
    width: 689px;
  }

  .reviews__name {
    margin-bottom: 7px;
    font-size: 24px;
  }

  .reviews__info {
    font-size: 18px;
  }

  .reviews__switcher-container {
    display: none;
  }
}
