.page-minfooter {
  padding-top: 40px;
}

.page-minfooter .page-minfooter__link-logotype {
  margin: 0 auto;
  .set-size(150px, 40px);
  display: block;
}

.page-minfooter .page-minfooter__social-list {
  margin: 0 auto;
  margin-top: 40px;
  .set-size(175px, 40px);

  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.page-minfooter__social-list .site-list__item {
  width: 40px;
  height: 40px;

  border: 3px solid #e9ebec;
  border-radius: 25px;
  position: relative;
}

.page-minfooter__social-list .site-list__item:last-child {
  margin-right: 0;
}
.page-minfooter__social-list .style-icon {
  fill: rgb(210, 40, 86);
}

.page-minfooter__social-list .link {
  width: 40px;
  height: 40px;
  position: absolute;
}

.page-minfooter__twitter .link {
  top: 13px;
  left: 0px;
}

.page-minfooter__facebook .link {
  top: 10px;
  left: 1px;
}

.page-minfooter__youtube .link {
  top: 12px;
  left: 1px;
}

.page-minfooter .page-minfooter__academy {
  margin: 0 auto;
  margin-top: 41px;
  padding-bottom: 40px;
  width: 130px;
  height: 34px;

  display: flex;
  justify-content: space-between
}

.page-minfooter__academy .page-minfooter__developed {
  .reset();
  width: 90px;
  padding-top: 5px;

  line-height: 18px;
}

.page-minfooter__academy .page-minfooter__academy-logo {
  fill: #d22856;
}
