.form-start {
  .reset();
  min-height: 237px;
  background: @dark url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 0%;
}

.form-start__tagline {
  .reset();
  .set-size(228px, 48px);
  margin: 0 auto;
  padding-top: 36px;

  font-size: 24px;
  color: @white;
  font-weight: 300;
}
