.page-header .page-header__logo {
  .reset();
  display: block;
  min-height: 69px;
  background-color: @dark-blue;
  border-bottom: 1px solid #000000;
}

.page-header__logo-image {
  fill: @white;
}

.main-nav__list .site-list__item {
  padding-top: 15px;
  min-height: 63px;
  box-sizing: border-box;
  background-color: @dark-blue;
  border-bottom: 1px solid #000000;
}

.site-list__item .site-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: @white;
}

.page-header .main-start__intro {
  .reset();
  min-height: 462px;
  background:
    url(../img/iphone-hand-mobile@1x.png) no-repeat 50% 100%,
    @dark url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 50%;
}

.main-start__intro h2 {
  .reset();
  .set-size(225px, 48px);
  margin: 0 auto;
  padding-top: 95px;

  font-size: 24px;
  color: @white;
}

.page-header .photo-start__intro {
  .reset();
  min-height: 237px;
  background: @dark url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 0%;
}

.page-header h2 {
  .reset();
  .set-size(225px, 48px);
  margin: 0 auto;
  padding-top: 95px;

  font-size: 24px;
  color: @white;
  font-weight: 300;
}
