@white: #ffffff;
@dark-blue: #283645;

.reset() {
  margin: 0;
  padding: 0;
}

.page-header .page-header__logo {
  .reset();
  display: block;
  min-height: 69px;
  background-color: @dark-blue;
  border-bottom: 1px solid #000000;
}

.page-header__logo-image {
  fill: @white;
}

.main-nav__list .site-list__item {
  min-height: 63px;
  background-color: @dark-blue;
  border-bottom: 1px solid #000000;
}

.site-list__item .site-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: @white;
}
