.main-nav__item {
  padding-top: 15px;
  min-height: 63px;
  box-sizing: border-box;
  background-color: @dark-blue;
  border-bottom: 1px solid #000000;
}

.main-nav__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: @white;
}
