$ligth-font: #ffffff;
$darkfont: #283645;
$gray-bgr: #f2f2f2;
$gray-bgr: #f2f2f2;
$hover-item:  #d22856;
$brd-btm: rgb(48, 47, 47);
$brd-top: #485461;
$wrapper-bg: black;
$main-bgr: white;
$dark-bgr: #1d2631;
