.location {
  padding-bottom: 35px;
}

.location__inv {
  .reset();
  margin: 0 auto;

  font-size: 18px;
  font-weight: bold;
}

.location__address {
  .reset();
  width: 229px;
  margin: 0 auto;
  display: block;

  font-size: 24px;
  line-height: 30px;
  color: #d22856;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .location {
    .reset();
    margin: 0 auto;
    margin-bottom: 14px;
    width: 212px;
  }

  .location__inv {
    margin-bottom: 6px;
  }

  .location__address {
    margin-left: -8px;
    padding-bottom: 14px;
    line-height: 29px;
  }
}

@media (min-width: @desktop-width) {
  .location {
    padding-bottom: 0;
    margin-bottom: 0;
    order: 2;
  }

  .location__address {
    padding-bottom: 6px;
  }

  .location__inv {
    margin-bottom: 23px;
  }
}
