.location__inv {
  .reset();
  margin: 0 auto;
  margin-bottom: 11px;

  font-size: 18px;
  font-weight: bold;
}

.location__address {
  .reset();
  margin: 0 auto;
  display: block;

  font-size: 24px;
  color: #d22856;
  font-weight: 300;
}
