.map {
  position: relative;
  height: 202px;

  &::before {
    position: absolute;
    content: "0";
    color: @white;
    width: 100%;
    height: 123px;
    top: 0;
    left: 0;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat center top/ contain;
  }
}

.map__google {
  width: 100%;
  height: 510px;
}

@media (min-width: @tablet-width) {
  .map {
    height: 375px;

    &::before {
      position: absolute;
      content: "0";
      color: @white;
      width: 100%;
      height: 123px;
      top: 0;
      left: 0;
      background: url("../img/bg-triangle-white-footer.svg") no-repeat center top/ contain;
    }
  }

  .map__google {
    height: 375px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    height: 515px;
  }

  .map__google {
    height: 516px;
  }
}
