.main-nav__logo-wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
}

.main-nav__logo {
  .reset();
  padding-top: 24px;
  padding-bottom: 20px;

  display: block;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.main-nav__logo-image {
  fill: @white;
}

.main-nav__toggle {
  display: block;
  position: relative;
  margin-left: auto;
  padding: 0;
  width: 50px;
  height: 24px;

  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  height: 3px;

  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgb(210, 40, 86);
  box-shadow: 0 10px 0 0 rgb(210, 40, 86), 0 20px 0 0 rgb(210, 40, 86);
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__icon-close {
  display: block;
  margin-left: 25px;
  fill: @white;

  &:hover {
    fill: rgb(210, 40, 86);
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__icon-close {
  display: none;
}

.main-nav__item {
  padding-top: 16px;
  padding-bottom: 14px;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}

.main-nav__link {
  font-size: 18px;
  color: @white;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;

  &:hover {
    color: rgb(210, 40, 86);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__logo {
    padding-top: 45px;
    padding-bottom: 39px;
  }

  .main-nav__logo-wrapper {
    width: 620px;
  }

  .main-nav__item {
    padding-top: 16px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .main-nav__header-wrapper {
    margin: 0 auto;
    width: 940px;
    display: flex;
  }

  .main-nav__logo-wrapper {
    .reset();
    width: auto;
  }

  .main-nav__logo {
    .reset();
    margin-right: 172px;
    padding-top: 33px;
    padding-bottom: 77px;
    width: 147px;
    height: 40px;

    border: none;
  }

  .main-nav__list {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__item {
    .reset();
    position: relative;

    padding-top: 46px;
    padding-bottom: 44px;
    border: none;
  }

  .main-nav__link {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
  }

  .main-nav__link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .site-item--active::before {
    position: absolute;
    bottom: 33px;
    left: 0;
    content: "";
    width: 100%;
    border-top: 3px solid @white;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--closed .main-nav__logo {
    border: none;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--closed .main-nav__logo {
    border: none;
  }
}
