.page-header {
  margin: 0 auto;
  background-color: @dark-blue;
}

.page-header__logo-wrapper {
  margin: 0 auto;
  width: 280px;
}

.page-header__logo {
  .reset();
  padding-top: 21px;
  padding-bottom: 22px;

  display: block;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.page-header__logo-image {
  fill: @white;
}

@media (min-width: @tablet-width) {

  .page-header__logo {
    padding-top: 27px;
    padding-bottom: 55px;
  }

  .page-header__logo-wrapper {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__header-wrapper {
    margin: 0 auto;
    width: 940px;
    display: flex;
  }

  .page-header__logo-wrapper {
    margin: 0;
    width: auto;
  }

  .page-header__logo {
    margin-right: 244px;
    border: none;
  }
}
